<!-- Info -->
<section class="section card" id="about">
  <div style="text-align: center">
    <img src="resources/img/cme.png" alt="Mi Foto" class="profile-photo" />
  </div>
  <h2 class="section-title">Acerca de Mí</h2>
  <p>
    Ingeniero de Sistemas y Computación con un gran interés en Analítica de
    Datos con enfasis en Ingeniería de Datos. A lo largo de mi carrera
    profesional, cuento con experiencia en programación con Python y SQL para
    análisis, manipulación y procesamiento de datos, así como en desarrollo de
    procesos ETL y control de calidad de datos utilizando IBM DataStage y AWS
    Glue, aplicando reglas de validación, trazabilidad y consistencia bajo
    lineamiento de Gobernanza de Datos. También tengo experiencia en el
    desarrollo de modelos de Machine Learning y Deep Learning con librerías como
    Scikit-learn, XGBoost y TensorFlow. Por otro lado, cuento con amplio
    conocimiento en Análisis, Modelado y Visualización de Datos con DAX y Power
    BI.
  </p>
  <p>
    Me considero una persona proactiva, analítica y creativa, que siempre busca
    trabajar en equipo de manera eficaz. Me esfuerzo por contribuir y apoyar con
    responsabilidad, interés y compromiso en cada tarea. Siempre busco la forma
    de seguir aprendiendo continuamente de las experiencias y las personas con
    las que interactúo, con el objetivo de mejorar y aprovechar cada oportunidad
    para seguir creciendo en el mundo de los datos.
  </p>
</section>