<!-- Cursos y Certificaciones -->
<section class="section card" id="certifications">
  <h2 class="section-title">Cursos y Certificaciones</h2>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Microsoft Partner</h3>
        <h4>Microsoft Power BI Data Analyst</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Abril 2025</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Talento Tech - Universidad Sergio Arboleda</h3>
        <h4>Bootcamp Análisis de Datos</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Abril 2024 - Agosto 2024</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Platzi</h3>
        <h4>Análisis y Modelado de Datos con DAX y Power BI</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Septiembre 2024</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Platzi</h3>
        <h4>Principios de Visualización de Datos para Business Intelligence</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Septiembre 2024</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Platzi</h3>
        <h4>Power BI</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Septiembre 2024</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>SCRUMstudy</h3>
        <h4>Scrum Fundamentals Certified</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Diciembre 2023</p>
      </div>
    </div>
  </div>
</section>
