<!-- Contacto -->
<section class="section card" id="contact">
  <h2 class="section-title">Contacto</h2>
  <p>
    Si deseas ponerte en contacto conmigo, envíame un correo dando clic en mi
    <a href="yass18.98@gmail.com" id="email-link">dirección de correo</a>.
  </p>
  <p>Sígueme en:</p>
  <div class="social-links">
    <a href="https://github.com/yassercdiaz" target="_blank">GitHub</a>
    <a
      href="https://linkedin.com/in/yasser-fernando-cristancho-diaz"
      target="_blank"
      >LinkedIn</a
    >
  </div>
</section>
