<!-- Educación -->
<section class="section card" id="education">
  <h2 class="section-title">Educación</h2>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Universidad Pedagógica y Tecnológica de Colombia</h3>
        <h4>Especialización en Analítica Estratégica de Datos</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">Actualmente</p>
      </div>
    </div>
  </div>
  <div class="education-item">
    <div class="row">
      <div class="col-6">
        <h3>Universidad Pedagógica y Tecnológica de Colombia</h3>
        <h4>Ingeniería de Sistemas y Computación</h4>
      </div>
      <div class="col-6" style="display: flex; justify-content: flex-end">
        <p class="text-md-right">2025</p>
      </div>
    </div>
  </div>
</section>
