<!-- Habilidades -->
<section class="section card" id="skills">
  <h2 class="section-title">Habilidades</h2>
  <ul class="skills-list">
    <li>Python</li>
    <li>SQL</li>
    <li>AWS</li>
    <li>GCP</li>
    <li>Oracle</li>
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>MongoDB</li>
    <li>Java</li>
    <li>R</li> 
    <li>Power BI</li>
    <li>Excel</li>
    <li>Tableau</li>
  </ul>
  <h2 class="section-title">Idiomas</h2>
  <ul class="skills-list">
    <li>Español Nativo.</li>
    <li>Ingles Intermedio.</li>
  </ul>
</section>
